.menu {
    width: 100%;
    height: 80%;
    background-color: $ASIDE-COLOR;
    padding: 62px 25px 3px 56px;
    box-sizing: border-box;
    @include MOBILE {
        height: 85%;
        padding: 25px 30px 0 14px;
        background-color: $MAIN-COLOR;
    }

    .menu-list__menu-item {
        max-height: 8%;
        position: relative;
        letter-spacing: -0.3px;
        margin-bottom: 31px;
        &:hover {

        }
        @include MOBILE {
            margin-bottom: 33px;
            letter-spacing: 0.11px;
        } 
        &:nth-child(3) {
            margin-bottom: 32px;
            @include MOBILE {
                margin-bottom: 35px;
            } 
        }
        &:nth-child(7) {
            @include MOBILE {
                margin-bottom: 18px;
            } 
        }
        
        //изменение слов в 5 item в моб. и деск. версии
        .menu-list__menu-item_letter-active, br {
            display: none;
            @include MOBILE {
                display: inline;
            }
        }
        .menu-list__menu-item_letter-disable {
            @include MOBILE {
                display: none;
            }    
        }

    }
    
    a {
        @extend .MENU-ITEM;
        text-decoration: none;
        display: inline-block;
        &:hover {
            color: rgba(126, 117, 121,.9);
          /*  box-shadow: 0 -10px 0 0 rgba(0, 0, 0, .2) inset; */
            @include MOBILE {
                font-size: 18px;
                &:hover {
                    font-weight: normal;
                   /* box-shadow: none;*/
                    color: $TEXT-COLOR;
                }
            }  
        }
        @include MOBILE {
            line-height: 1.104;
        }
    }
    ._active {
        position: relative;
        a {
            @extend .MENU-ITEM_SELECTED;
            letter-spacing: 0.2px;
            color: rgba(126, 117, 121,.9);
            /*box-shadow: 0 -10px 0 0 rgba(0, 0, 0, .2) inset;*/
            @include MOBILE {
                letter-spacing: 0.15;
            }
        }
        &::after {
            position: absolute;
            content: '';
            bottom: -4px;
            left: 0;
            width: 80%;
            height: 9px;
            background-color: rgba(0,0,0,0.15);
            @include MOBILE {
                bottom: 0;
                width: 90%;
                height: 8px;
            }
        }
    }
}

.menu-list__separate-line {
    width:  63px;
    height: 0.6px;
    background-color: rgba(126, 117, 121,.2);
    margin: 45px 0 31px 0;
    @include MOBILE {
        margin: 35px 0 26px 0;
        width:  50px;
    }
}


  
