mixin menu(params)
    nav.menu
        ul.menu__items
            li.menu__item.menu__item_selected
                a.menu__item-link
            li.menu__item
                a.menu__item-link
            li.menu__item
                a.menu__item-link
            li.menu__item
                a.menu__item-link
            li.menu__separate-line
            li.menu__item
                a.menu__item-link
            li.menu__item
                a.menu__item-link
        block
