mixin menu(menuItems,currentPageId)
    nav.aside-navigation__menu.menu
        ul.menu__list
            if(menuItems)
                each item in menuItems 
                    if (item.isSeparator==true)
                        li.menu__separate-line 
                    else 
                        li.menu__item( class=(item.id==currentPageId ? 'menu__item_active' : '') )
                            a.menu__link(href=item.url) !{item.title}
        block
