mixin menu(menuItems,currentPageId)
    nav.aside-navigation__menu.menu
        ul.menu__menu-list.menu-list
            if(menuItems)
                each item in menuItems 
                    if (item.isSeparator==true)
                        li.menu-list__separate-line 
                    else 
                        li.menu-list__menu-item.menu-item( class=(item.id==currentPageId ? '_active' : '') )
                            a.menu-item__link(href=item.url) !{item.title}
        block
