mixin menu(menuItems,currentPageId)
    nav.menu
        ul.menu__items
            if(menuItems)
                each item in menuItems 
                    if (item.isSeparator==true)
                        li.menu__separate-line 
                    else 
                        li.menu__item( class=(item.id==currentPageId ? 'active' : '') )
                            a(href=item.url) !{item.title}
        block
