.menu {
    width: 100%;
    height: 80%;
    background-color: $ASIDE-COLOR;
    padding: 26px;
    padding-top: 46px;
    box-sizing: border-box;
    .menu__item {
        padding: 15px 10px 0 30px;
        margin-bottom: 17.8px;
        width: 100%;
        box-sizing: border-box;
        letter-spacing: -0.3px;
    }
    .selected__item-menu {
        background-color: rebeccapurple;
    }
    a {
        text-decoration: none;
        @extend .MENU-ITEM;
    }
}

.menu__separate-line {
    width:  63px;
    height: 0.6px;
    background-color: rgba(109, 91, 102,.3);
    margin: 48px 50px 14px 31px;
}

  