.article {
    width: vhD(871);
    height: vhD(605);
    padding: vhD(21) vhD(24);
    box-sizing: border-box;
    @include MOBILE {
        width: 100%;
        height: auto;
        padding: 0px vhM(14);
    }
    @include TABLET {
        width: 100%;
        height: auto;
        padding: 0 0 0 vwT(81);
    }
    @include TABLET-L {
        height: auto;
        padding: 0 0 0 vhTL(69);
    }


    &__heading {
        @extend .HEADING;
        max-width: vhD(871);
        height: vhD(100);
        padding: vhD(25) 0;
        letter-spacing: vhD(1.11);
        box-sizing: border-box;
        @include MOBILE {
            height: 2.7em;
            padding-top: 0;
            letter-spacing: 1.2;
        }
        @include TABLET { 
            height: vhTL(50);
            padding: 0;
            letter-spacing: 0.8;
        }
    }


    &__content-wrapper {
        max-width: vhD(871);
        height: vhD(450);
        padding-top: vhD(22);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        @include MOBILE {
            max-width: 100%;
            display: block;
            height: 80%;
            padding-top: 0;
        }
        @include TABLET { 
            height: vwT(380);
            padding-top: vwT(12);
        }
        @include TABLET-L { 
            height: vhTL(412);
            padding-top: vhTL(12);
        }
    }


    &__paragraph {
        @extend .ARTICLE-CONTENT;
        max-width: vhD(329);
        color: #000; 
        letter-spacing: vhD(0.5);
        margin-bottom: vhD(19);
        padding-right: vhD(33);
        @include MOBILE {
            max-width: 100%;
            margin-bottom: vhM(10);
            padding-right: vhM(5);
            letter-spacing: 0.4;
            line-height: 1.47;
        }
        @include TABLET { 
            max-width: vwT(250);
            padding-right: vwT(75);
            margin-bottom: vwT(16);
            letter-spacing: 0.4;
            line-height: 1.49;
        }
        @include TABLET-L { 
            max-width: vhTL(250);
            padding-right: vhTL(23);
            margin-bottom: vhTL(16);
            letter-spacing: 0.4;
            line-height: 1.49;
        }


        a{
            text-decoration: none;
            border-bottom: vhD(1) solid rgba(49, 36, 42,.4);
            color: rgba(49, 36, 42,.8);
            @include HOVER() {
                &:hover {
                    color: rgba(150, 36, 42,.8);
                    border-color: rgba(150, 36, 42,.4);    
                }    
            }
        }

        
    }

}
