.article {
    width: 69%;
    height: 100%;
    padding: 21px 21px;
    box-sizing: border-box;
    @include MOBILE {
        width: 100%;
        min-height: 95%;
        padding: 5px 14px;
    }
    &__heading {
        @extend .HEADING;
        max-width: 100%;
        height: 15%;
        padding: 25px 0;
        letter-spacing: 1.11px;
        box-sizing: border-box;
        @include MOBILE {
            height: 9%;
            padding-top: 0;
            line-height: 1;
        }
    }
    &__content-wrapper {
        width: 100%;
        height: 80%;
        padding-top: 22px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        @include MOBILE {
            display: block;
            height: 80%;
            padding-top: 25px;
        }
    }

    &__paragraph {
        @extend .ARTICLE-CONTENT;
        max-width: 329px;
        color: #000000; 
        letter-spacing: 0.5px;
        margin-bottom: 19px;
        padding-right: 33px;
        @include MOBILE {
            margin-bottom: 10px;
            padding-right: 0;
            letter-spacing: 0.4;
            line-height: 1.47;
        }
        .content-link {
            text-decoration: none;
            border-bottom: 1px solid rgba(49, 36, 42,.4);
            color: rgba(49, 36, 42,.8);
            &:hover {
                color: rgba(150, 36, 42,.8);
                border-color: rgba(150, 36, 42,.4);    
            }
            @include MOBILE {
                &:hover {
                    color: rgba(49, 36, 42,.8);
                    border-color: rgba(49, 36, 42,.4);
                }
            }
        }
    }
    
}
