mixin article(pageContent)
    article.article
        h1.heading=pageContent.title
        .content-wrapper
            each item in pageContent.texts
                .article__content
                    p !{item}
            //- 
                .article__content
                    p=pageCont.content_5
                        a.forward-link(href="http://ya.ru" target="blank") 
                            span.last-word в Вене
                            span.article__content-arrow  &rarr;
    block 