mixin article(params)
    article.article
        h1.heading Название страницы
        .article__content 
        .article__content 
        .article__content 
        .article__content 
        .article__content
            span.article__content-arrow 
            block 