mixin article(content)
    article.article
        h1.heading=content.title
        .article__content 
        .article__content 
        .article__content 
        .article__content 
        .article__content
            span.article__content-arrow 
            block 