@charset "UTF-8";
@font-face {
  font-family: "FuturaNewBook";
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBook-Reg.woff") format("woff"), url("../fonts/FuturaNewBook-Reg.ttf") format("truetype"), url("../fonts/FuturaNewBook-Reg.svg#FuturaNewBook-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaNewDemi";
  src: url("../fonts/FuturaNewDemi-Reg.eot");
  src: url("../fonts/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2"), url("../fonts/FuturaNewDemi-Reg.woff") format("woff"), url("../fonts/FuturaNewDemi-Reg.ttf") format("truetype"), url("../fonts/FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaNewLight";
  src: url("../fonts/FuturaNewLight-Reg.eot");
  src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewLight-Reg.woff2") format("woff2"), url("../fonts/FuturaNewLight-Reg.woff") format("woff"), url("../fonts/FuturaNewLight-Reg.ttf") format("truetype"), url("../fonts/FuturaNewLight-Reg.svg#FuturaNewLight-Reg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/**
 * заголовок статьи
 */
.HEADING, .article .heading {
  font-family: "FuturaNewLight";
  color: #4c3443;
}
@media screen and (max-width: 1023px) {
  .HEADING, .article .heading {
    line-height: 1;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .HEADING, .article .heading {
    font-size: 40px;
  }
}
@media screen and (min-width: 1600px) {
  .HEADING, .article .heading {
    font-size: 48px;
    line-height: 1.125;
  }
}

/**
 * номер телефона в заголовке
 */
.PHONE-NUMBER, .number {
  font-family: "FuturaNewLight";
  color: #231f20;
}
@media screen and (min-width: 1600px) {
  .PHONE-NUMBER, .number {
    font-size: 32px;
    line-height: 0.844;
  }
}

/**
 * текст в статье
 */
.ARTICLE-CONTENT, .article .content-wrapper .article__content {
  font-family: "FuturaNewLight";
  color: #4c3443;
}
@media screen and (max-width: 1023px) {
  .ARTICLE-CONTENT, .article .content-wrapper .article__content {
    font-size: 18.667px;
    line-height: 1.446;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .ARTICLE-CONTENT, .article .content-wrapper .article__content {
    font-size: 16px;
    line-height: 1.446;
  }
}
@media screen and (min-width: 1600px) {
  .ARTICLE-CONTENT, .article .content-wrapper .article__content {
    font-size: 18px;
    line-height: 1.5;
  }
}

/**
 * выпадающий список
 */
.LANG, .selector-lang .selector-lang__list {
  font-family: "FuturaNewBook";
  color: #4c3443;
}
@media screen and (max-width: 1023px) {
  .LANG, .selector-lang .selector-lang__list {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .LANG, .selector-lang .selector-lang__list {
    line-height: 1.125;
  }
}
@media screen and (min-width: 1600px) {
  .LANG, .selector-lang .selector-lang__list {
    font-size: 17px;
    line-height: 1.286;
  }
}

/**
 * пункты меню
 */
.MENU-ITEM, .menu a {
  font-family: "FuturaNewBook";
  color: #4c3443;
}
@media screen and (max-width: 1023px) {
  .MENU-ITEM, .menu a {
    font-size: 36px;
    line-height: 1;
  }
}
@media screen and (min-width: 1600px) {
  .MENU-ITEM, .menu a {
    font-size: 21.66px;
    line-height: 1.143;
  }
}

/**
 * открытый пункт меню
 */
.MENU-ITEM_SELECTED {
  font-family: "FuturaNewDemi";
  color: #4c3443;
}
@media screen and (max-width: 1023px) {
  .MENU-ITEM_SELECTED {
    font-size: 36px;
    line-height: 1;
  }
}
@media screen and (min-width: 1600px) {
  .MENU-ITEM_SELECTED {
    font-size: 31.5px;
    line-height: 1.144;
  }
}

/**
 * кнопки
 */
.BUTTON, .button-block .button-block__button {
  font-family: "FuturaNewLight";
  color: #4c3443;
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .BUTTON, .button-block .button-block__button {
    font-size: 13px;
  }
}
@media screen and (min-width: 1600px) {
  .BUTTON, .button-block .button-block__button {
    font-size: 15.6px;
    line-height: 1.286;
  }
}

/**
 * загрузка услуг
 */
.DOWNLOAD, .download .download__link-load p {
  font-family: "FuturaNewLight";
  color: #4c3443;
}
@media screen and (max-width: 1023px) {
  .DOWNLOAD, .download .download__link-load p {
    font-size: 16px;
    line-height: 1;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .DOWNLOAD, .download .download__link-load p {
    font-size: 12px;
  }
}
@media screen and (min-width: 1600px) {
  .DOWNLOAD, .download .download__link-load p {
    font-size: 14.77px;
    line-height: 1.929;
  }
}

/**
 * копирайт
 */
.COPYRIGHT, .copyright p {
  font-family: "FuturaNewLight";
  color: #7c7b7b;
}
@media screen and (max-width: 1023px) {
  .COPYRIGHT, .copyright p {
    font-size: 13.333px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .COPYRIGHT, .copyright p {
    font-size: 11px;
  }
}
@media screen and (min-width: 1600px) {
  .COPYRIGHT, .copyright p {
    font-size: 12px;
    line-height: 2.25;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
}

.main-wrapper {
  width: 81%;
  background-color: #f9f9f8;
}

.right-wrapper {
  width: 18.6%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 18%;
  background-color: #f9f9f8;
  display: flex;
  justify-content: space-between;
}
.header .header__menu {
  width: 31%;
  height: 100%;
  display: flex;
}
.header .header__menu .header__vertical-line {
  width: 0.5px;
  height: 40px;
  background-color: rgba(76, 52, 64, 0.4);
  margin: 50px 20px;
}

.logo {
  width: 19.1%;
  height: 49.9%;
  align-self: center;
  padding: 35px 55px 0 55px;
}

.number {
  width: 70%;
  height: 100%;
  background-color: #f9f9f8;
  display: flex;
  justify-content: center;
}
.number p {
  padding-top: 56px;
  padding-left: 5px;
  box-sizing: border-box;
}

.selector-lang {
  width: 15%;
  height: 100%;
  background-color: #f9f9f8;
  padding: 50px 14px;
  box-sizing: border-box;
}
.selector-lang .selector-lang__list {
  width: 60px;
  height: 40px;
  margin-right: auto;
  border: none;
  background-color: #f9f9f8;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../image/pointer.png");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  text-transform: uppercase;
}

.image {
  width: 31%;
  height: 64%;
  margin-top: -5px;
  float: left;
}

.article {
  width: 69%;
  height: 80%;
  float: left;
}
.article .heading {
  width: 100%;
  height: 15%;
  padding-left: 22px;
  padding-top: 42px;
  letter-spacing: 1.26px;
  box-sizing: border-box;
}
.article .content-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 69%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}
.article .content-wrapper .article__content {
  max-width: 329px;
  padding: 9px 5px;
  margin-left: 20px;
  margin-top: 1px;
  letter-spacing: 0.5px;
}
.article .content-wrapper .article__content:last-child {
  color: rgba(76, 52, 64, 0.8);
}
.article .content-wrapper .article__content:nth-child(3), .article .content-wrapper .article__content:nth-child(4), .article .content-wrapper .article__content:nth-child(5) {
  margin-left: 24px;
}
.article .content-wrapper .article__content:nth-child(3) {
  margin-top: -3px;
  padding-bottom: 0;
}
.article .content-wrapper .article__content:nth-child(4) {
  padding-top: 0;
  margin-top: 10px;
}
.article .content-wrapper .article__content:nth-child(5) {
  padding-top: 0;
  margin-bottom: 37px;
}

.forward-link {
  color: rgba(76, 52, 64, 0.8);
  text-decoration: none;
}
.forward-link:hover {
  color: #4c3440;
}
.forward-link .last-word {
  border-bottom: 1px solid;
  border-color: rgba(76, 52, 64, 0.8);
}

.aside-navigation {
  width: 100%;
  height: 84.7%;
}

.menu {
  width: 100%;
  height: 80%;
  background-color: #f2f1f1;
  padding: 26px;
  padding-top: 46px;
  box-sizing: border-box;
}
.menu .menu__item {
  padding: 15px 10px 0 30px;
  margin-bottom: 17.8px;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: -0.3px;
}
.menu .selected__item-menu {
  background-color: rebeccapurple;
}
.menu a {
  text-decoration: none;
}

.menu__separate-line {
  width: 63px;
  height: 0.6px;
  background-color: rgba(109, 91, 102, 0.3);
  margin: 48px 50px 14px 31px;
}

.button-block {
  width: 100%;
  height: 20%;
  background-color: #f2f1f1;
  display: flex;
  justify-content: center;
  padding-left: 7px;
  padding-top: 4px;
  box-sizing: border-box;
}
.button-block .button-block__button {
  width: 25%;
  height: 24%;
  border: 1px solid;
  border-color: #b3aaaf;
  background-color: #f2f1f1;
  align-self: center;
}
.button-block .button-block__button:hover {
  background-color: #6d5b66;
  color: white;
  cursor: pointer;
}
.button-block .button-block__button:active {
  background-color: #7d5b66;
  margin-top: 2px;
}
.button-block .button-block__button_selected {
  width: 41.5%;
  background-color: #b3aaaf;
  color: white;
}
.button-block .button-block__button_selected:hover {
  background-color: #6d5b66;
}
.button-block .button-block__button_selected:active {
  background-color: #7d5b66;
  margin-top: 2px;
}

.footer {
  width: 100%;
  height: 15.3%;
  background-color: #f8f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download {
  width: 68%;
  height: 40%;
  display: flex;
  margin-top: -10px;
  margin-bottom: 6px;
}
.download .download__icon {
  width: 30%;
  height: 100%;
  margin-top: -3px;
  margin-left: -11px;
  margin-right: 7.6px;
  background: url("../image/icon-pdf.png");
  background-repeat: no-repeat;
  background-position: right;
}
.download .download__link-load {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.download .download__link-load p {
  color: #231f20;
  align-self: center;
}
.download .download__link-load p a {
  text-decoration: none;
  border-bottom: 1px dotted #231f20;
  color: #231f20;
}
.download .download__link-load p a:hover {
  color: #3f3339;
  font-size: 15px;
  cursor: pointer;
}

.copyright {
  width: 68%;
  height: 20%;
  margin-left: -5px;
}
.copyright p {
  color: #7c7b7b;
  text-align: center;
}

.section {
  clear: both;
  *zoom: 1;
}
.section:before, .section:after {
  content: "";
  display: table;
}
.section:after {
  clear: both;
}