@charset "UTF-8";
.Обслуживание_в_московском_офисе_Friedrich_Wilhe {
  font-size: 18px;
  font-family: "FuturaNewLight";
  color: #4c3440;
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 436.88px;
  top: 348.872px;
  width: 321px;
  height: 413px;
  z-index: 118;
}

@font-face {
  font-family: "FuturaNewBook";
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBook-Reg.woff") format("woff"), url("../fonts/FuturaNewBook-Reg.ttf") format("truetype"), url("../fonts/FuturaNewBook-Reg.svg#FuturaNewBook-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaNewDemi";
  src: url("../fonts/FuturaNewDemi-Reg.eot");
  src: url("../fonts/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2"), url("../fonts/FuturaNewDemi-Reg.woff") format("woff"), url("../fonts/FuturaNewDemi-Reg.ttf") format("truetype"), url("../fonts/FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaNewLight";
  src: url("../fonts/FuturaNewLight-Reg.eot");
  src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewLight-Reg.woff2") format("woff2"), url("../fonts/FuturaNewLight-Reg.woff") format("woff"), url("../fonts/FuturaNewLight-Reg.ttf") format("truetype"), url("../fonts/FuturaNewLight-Reg.svg#FuturaNewLight-Reg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/**
 * заголовок статьи
 */
.HEADING, .article__heading {
  font-family: "FuturaNewLight";
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .HEADING, .article__heading {
    font-size: 35px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 1600px) {
  .HEADING, .article__heading {
    font-size: 48px;
    line-height: 1.125;
  }
}

/**
 * номер телефона в заголовке
 */
.PHONE-NUMBER, .number p {
  font-family: "FuturaNewLight";
  color: #231f20;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .PHONE-NUMBER, .number p {
    font-size: 18.667px;
    line-height: 1.446;
  }
}
@media screen and (min-width: 1600px) {
  .PHONE-NUMBER, .number p {
    font-size: 32px;
    line-height: 0.844;
  }
}

/**
 * текст в статье
 */
.ARTICLE-CONTENT, .article__paragraph {
  font-family: "FuturaNewLight";
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .ARTICLE-CONTENT, .article__paragraph {
    font-size: 18.667px;
    line-height: 1.446;
  }
}
@media screen and (min-width: 1600px) {
  .ARTICLE-CONTENT, .article__paragraph {
    font-size: 18px;
    line-height: 1.5;
  }
}

/**
 * выпадающий список
 */
.LANG, .selector-lang .list, .selector-lang__label {
  font-family: "FuturaNewBook";
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .LANG, .selector-lang .list, .selector-lang__label {
    font-size: 12px;
  }
}
@media screen and (min-width: 1600px) {
  .LANG, .selector-lang .list, .selector-lang__label {
    font-size: 17px;
    line-height: 1.286;
  }
}

/**
 * пункты меню
 */
.MENU-ITEM, .menu a {
  font-family: "FuturaNewBook";
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .MENU-ITEM, .menu a {
    font-size: 36px;
    line-height: 1;
  }
}
@media screen and (min-width: 1600px) {
  .MENU-ITEM, .menu a {
    font-size: 21.66px;
    line-height: 1.143;
  }
}

/**
 * открытый пункт меню
 */
.MENU-ITEM_SELECTED {
  font-family: "FuturaNewDemi";
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .MENU-ITEM_SELECTED {
    font-size: 36px;
    line-height: 1;
  }
}
@media screen and (min-width: 1600px) {
  .MENU-ITEM_SELECTED {
    font-size: 31.5px;
    line-height: 1.144;
  }
}

/**
 * кнопки
 */
.BUTTON, .button-block .button-block__button {
  font-family: "FuturaNewLight";
  color: #291823;
}
@media screen and (min-width: 1600px) {
  .BUTTON, .button-block .button-block__button {
    font-size: 14px;
    line-height: 1.286;
  }
}

/**
 * загрузка услуг
 */
.DOWNLOAD, .download .download__link-load {
  font-family: "FuturaNewLight";
  color: #231f20;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .DOWNLOAD, .download .download__link-load {
    font-size: 16px;
    line-height: 1;
  }
}
@media screen and (min-width: 1600px) {
  .DOWNLOAD, .download .download__link-load {
    font-size: 14.3px;
    line-height: 1.929;
  }
}

/**
 * копирайт
 */
.COPYRIGHT, .footer__copyright {
  font-family: "FuturaNewLight";
  color: #7c7b7b;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .COPYRIGHT, .footer__copyright {
    font-size: 13.333px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1600px) {
  .COPYRIGHT, .footer__copyright {
    font-size: 12px;
    line-height: 2.25;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page {
  position: relative;
  width: 100vw;
  max-height: 900px;
  overflow-x: auto;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .page {
    padding: 10px;
    max-height: 100%;
  }
}
.page__input {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .page .page__input {
    display: none;
  }
  .page .page__input:checked ~ .main-wrapper {
    display: none;
  }
  .page .page__input:checked ~ .right-wrapper {
    opacity: 0;
    display: block;
    overflow-y: hidden;
    animation: openMenu 0.65s linear 0s;
    opacity: 1;
  }
  .page .page__input:checked + .page__menu-burger {
    background-image: url("../image/close.png");
    right: 23px;
    top: 23px;
  }
}
@keyframes openMenu {
  10% {
    opacity: 0.1;
    transform: scale(0.1, 0.1);
  }
  40% {
    opacity: 0.3;
    transform: scale(0.4, 0.4);
  }
  70% {
    opacity: 0.3;
    transform: scale(0.7, 0.7);
  }
  80% {
    opacity: 0.5;
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.page__menu-burger {
  background-image: url("../image/menu_burger.png");
  background-repeat: no-repeat;
  width: 28px;
  height: 27px;
  display: none;
}
.page__menu-burger:hover {
  width: 29px;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .page__menu-burger {
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
  }
}

.main-wrapper {
  width: 81%;
  background-color: #f9f9f8;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .main-wrapper {
    width: 100%;
    height: 1045px;
  }
}

.right-wrapper {
  width: 18.6%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .right-wrapper {
    display: none;
    width: 100%;
    height: 100vh;
  }
}

.header {
  width: 100%;
  height: 18%;
  background-color: #f9f9f8;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .header {
    width: 100%;
    height: 10%;
  }
}
.header .header-menu {
  min-width: 31%;
  height: 100%;
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .header .header-menu {
    width: 98.6%;
    height: 10.5%;
    position: fixed;
    padding-top: 11px;
    bottom: 0;
    left: 10px;
    right: 10px;
    box-sizing: border-box;
    background-color: #fff;
  }
}
.header .header-menu .header-menu__vertical-line {
  width: 0.5px;
  height: 40px;
  background-color: rgba(76, 52, 64, 0.4);
  margin: 50px 19px 50px 22px;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .header .header-menu .header-menu__vertical-line {
    width: 1px;
    height: 28px;
    margin: 5px 22px 5px -3px;
  }
}

.logo {
  width: 19.2%;
  height: 51%;
  align-self: center;
  padding: 39px 55px 0 55px;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .logo {
    width: 61%;
    height: 59%;
    align-self: flex-start;
    padding: 15px;
    z-index: 2;
  }
}

.number {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f8;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .number {
    width: 69%;
    justify-content: flex-start;
    padding-left: 14px;
    background-color: #fff;
  }
}
.number p {
  padding-top: 56px;
  padding-left: 5px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .number p {
    font-size: 23px;
    padding-top: 4px;
    padding-left: 3px;
    letter-spacing: 0.4;
  }
}

.selector-lang {
  width: 20%;
  height: 100%;
  position: relative;
  background-color: #f9f9f8;
  padding: 60px 14px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .selector-lang {
    width: 15%;
    background-color: #fff;
    padding: 13px 0;
  }
}
.selector-lang__input {
  display: none;
}
.selector-lang__input:checked ~ .list {
  animation: openList 0.8s ease-out 0s forwards;
}
.selector-lang__input:checked + .selector-lang__label {
  background-color: #fff;
}
.selector-lang__input:checked ~ .selector-lang__arrow {
  background-color: #fff;
  transform: rotate(180deg);
  background-position: right;
}
.selector-lang__label {
  display: block;
  width: 52%;
  background-color: #f9f9f8;
  text-transform: uppercase;
  -webkit-user-select: none;
          user-select: none;
}
.selector-lang__label:hover {
  cursor: pointer;
  color: #8f7585;
  font-size: 17.1px;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .selector-lang__label {
    width: 70%;
    font-size: 13px;
    background-color: #fff;
  }
  .selector-lang__label:hover {
    color: #291823;
    font-size: 13px;
  }
}
.selector-lang .selector-lang__arrow {
  position: absolute;
  top: 60px;
  right: 4px;
  width: 34px;
  height: 21px;
  background-image: url("../image/pointer.png");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #f9f9f8;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .selector-lang .selector-lang__arrow {
    top: 10px;
    right: -6px;
    background-color: #fff;
  }
}
.selector-lang .list {
  width: 120%;
  height: 62px;
  background-color: white;
  text-transform: uppercase;
  opacity: 0;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .selector-lang .list {
    width: 40px;
    height: 80px;
    position: absolute;
    bottom: 180%;
    right: 30%;
    background-color: rgba(0, 0, 0, 0);
  }
}
.selector-lang .list .list__item {
  -webkit-user-select: none;
          user-select: none;
}
.selector-lang .list .list__item:hover {
  cursor: pointer;
  color: #a5909d;
}
.selector-lang .list .list__item:active {
  cursor: pointer;
  color: #8e75a5;
  font-size: 16.8px;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .selector-lang .list .list__item {
    width: 40px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 8px;
    background-color: #f0e3ea;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #aca2a8;
  }
  .selector-lang .list .list__item:hover {
    color: #291823;
  }
  .selector-lang .list .list__item:active {
    color: #291823;
    font-size: 15px;
  }
}

@keyframes openList {
  10% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.image {
  width: 31.4%;
  height: 66%;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .image {
    width: 100%;
  }
}
.image img {
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .image img {
    width: 78.5%;
    margin-top: -125px;
    opacity: 0.5;
  }
}

.article {
  width: 69%;
  height: 100%;
  padding: 21px 21px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .article {
    width: 100%;
    min-height: 95%;
    padding: 5px 14px;
  }
}
.article__heading {
  max-width: 100%;
  height: 15%;
  padding: 25px 0;
  letter-spacing: 1.11px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .article__heading {
    height: 9%;
    padding-top: 0;
    font-size: 35px;
    line-height: 1;
  }
}
.article__content-wrapper {
  width: 100%;
  height: 80%;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .article__content-wrapper {
    display: block;
    height: 80%;
    padding-top: 25px;
  }
}
.article__paragraph {
  max-width: 329px;
  color: #000000;
  letter-spacing: 0.5px;
  margin-bottom: 19px;
  padding-right: 33px;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .article__paragraph {
    margin-bottom: 10px;
    padding-right: 0;
    font-size: 14px;
    letter-spacing: 0.4;
    line-height: 1.47;
  }
}
.article__paragraph .content-link {
  text-decoration: none;
  border-bottom: 1px solid rgba(49, 36, 42, 0.4);
  color: rgba(49, 36, 42, 0.8);
}
.article__paragraph .content-link:hover {
  color: rgba(150, 36, 42, 0.8);
  border-color: rgba(150, 36, 42, 0.4);
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .article__paragraph .content-link:hover {
    color: rgba(49, 36, 42, 0.8);
    border-color: rgba(49, 36, 42, 0.4);
  }
}

.aside-navigation {
  width: 100%;
  height: 84.7%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .aside-navigation {
    height: 84.7%;
  }
}

.menu {
  width: 100%;
  height: 80%;
  background-color: #f2f1f1;
  padding: 62px 25px 3px 56px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu {
    height: 80%;
    padding: 25px 30px 0 14px;
  }
}
.menu .menu-list__menu-item {
  max-height: 9%;
  letter-spacing: -0.3px;
  margin-bottom: 28px;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu .menu-list__menu-item {
    margin-bottom: 36px;
    letter-spacing: 0.11px;
  }
}
.menu .menu-list__menu-item:nth-child(3) {
  margin-bottom: 25px;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu .menu-list__menu-item:nth-child(3) {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu .menu-list__menu-item:nth-child(7) {
    margin-bottom: 18px;
  }
}
.menu .menu-list__menu-item .menu-list__menu-item_letter-active, .menu .menu-list__menu-item br {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu .menu-list__menu-item .menu-list__menu-item_letter-active, .menu .menu-list__menu-item br {
    display: inline;
  }
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu .menu-list__menu-item .menu-list__menu-item_letter-disable {
    display: none;
  }
}
.menu a {
  text-decoration: none;
  display: inline-block;
}
.menu a:hover {
  font-weight: bold;
  font-size: 22px;
  color: rgba(126, 117, 121, 0.9);
  box-shadow: 0 -10px 0 0 rgba(0, 0, 0, 0.2) inset;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu a:hover {
    font-size: 18px;
  }
  .menu a:hover:hover {
    font-weight: lighter;
    box-shadow: none;
    color: #291823;
  }
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu a {
    font-size: 18px;
    line-height: 1.104;
  }
}
.menu ._active a {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.7px;
  line-height: 1.02;
  color: rgba(126, 117, 121, 0.9);
  box-shadow: 0 -10px 0 0 rgba(0, 0, 0, 0.2) inset;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu ._active a {
    font-size: 18px;
    letter-spacing: 0.75;
  }
}

.menu-list__separate-line {
  width: 63px;
  height: 0.6px;
  background-color: rgba(126, 117, 121, 0.2);
  margin: 35px 0 35px 0;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .menu-list__separate-line {
    margin: 2px 0 22px 0;
    width: 50px;
  }
}

.button-block {
  width: 100%;
  height: 20%;
  background-color: #f2f1f1;
  display: flex;
  justify-content: center;
  padding-left: 7px;
  padding-top: 4px;
  box-sizing: border-box;
}
@media (max-width: 321px) {
  .button-block {
    height: 20%;
    padding-top: 8px;
    padding-left: 0;
  }
}
.button-block .button-block__button {
  width: 25%;
  min-height: 24%;
  border: 1px solid;
  border-color: #b3aaaf;
  background-color: #f2f1f1;
  align-self: center;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .button-block .button-block__button {
    width: 39.1%;
    height: 45.5%;
  }
}
.button-block .button-block__button:hover {
  background-color: #6d5b66;
  color: white;
  cursor: pointer;
}
.button-block .button-block__button:active {
  background-color: #7d5b66;
  margin-top: 2px;
}
.button-block .button-block__button_selected {
  width: 40.5%;
  background-color: #b3aaaf;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .button-block .button-block__button_selected {
    width: 51%;
  }
}
.button-block .button-block__button_selected:hover {
  background-color: #6d5b66;
}
.button-block .button-block__button_selected:active {
  background-color: #7d5b66;
  margin-top: 2px;
}

.footer {
  width: 100%;
  height: 15.3%;
  padding: 20px 0 20px 28px;
  box-sizing: border-box;
  background-color: #f8f7f7;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .footer {
    height: 11%;
    display: flex;
    justify-content: center;
    padding: 1px 0 0 6px;
  }
}

.download {
  width: 85%;
  height: 50%;
  display: flex;
  margin-bottom: 6px;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .download {
    width: 50%;
    height: 85%;
    margin-left: 10px;
  }
}
.download .download__icon {
  width: 60%;
  min-height: 100%;
  background: url("../image/icon-pdf.png");
  background-repeat: no-repeat;
  background-position: right;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .download .download__icon {
    width: 20%;
    background-size: contain;
    margin-right: 11px;
  }
}
.download .download__link-load {
  min-width: 70%;
  height: 100%;
  padding: 10px 14px;
  box-sizing: border-box;
}
.download .download__link-load br {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .download .download__link-load br {
    display: block;
  }
}
.download .download__link-load a {
  color: #231f20;
  text-decoration: none;
  border-bottom: 1px dotted #231f20;
}
.download .download__link-load a:hover {
  color: #723f59;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .download .download__link-load a {
    border-bottom: none;
  }
  .download .download__link-load a:hover {
    color: #231f20;
  }
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .download .download__link-load {
    min-width: 15px;
    height: 76%;
    font-size: 11px;
    line-height: 1.1;
    letter-spacing: 0.8;
    margin-left: 5px;
    padding: 12px 0 1px 0;
    box-sizing: border-box;
    border-bottom: 1px dotted #231f20;
  }
}

.footer__copyright {
  min-width: 68%;
  height: 40%;
  padding: 6px 0 0 27px;
  box-sizing: border-box;
  color: #7c7b7b;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .footer__copyright {
    min-width: 50%;
    height: 85%;
    padding: 11px 0 0 15px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1.45;
  }
}
.footer__copyright br {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .footer__copyright br {
    display: block;
  }
}

.section {
  /*   &:before,
      &:after {
          content: "";
          display: table;
      }
      &:after {
          clear: both;
      }
      clear: both;
      *zoom: 1;  
  */
  display: flex;
  width: 100%;
  height: 82%;
}
@media screen and (min-width: 320px) and (max-width: 1599px) {
  .section {
    height: 78%;
    flex-direction: column;
  }
}