@charset "UTF-8";
@font-face {
  font-family: "FuturaNew";
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBook-Reg.woff") format("woff"), url("../fonts/FuturaNewBook-Reg.ttf") format("truetype"), url("../fonts/FuturaNewBook-Reg.svg#FuturaNewBook-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaNew";
  src: url("../fonts/FuturaNewDemi-Reg.eot");
  src: url("../fonts/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2"), url("../fonts/FuturaNewDemi-Reg.woff") format("woff"), url("../fonts/FuturaNewDemi-Reg.ttf") format("truetype"), url("../fonts/FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FuturaNew";
  src: url("../fonts/FuturaNewLight-Reg.eot");
  src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewLight-Reg.woff2") format("woff2"), url("../fonts/FuturaNewLight-Reg.woff") format("woff"), url("../fonts/FuturaNewLight-Reg.ttf") format("truetype"), url("../fonts/FuturaNewLight-Reg.svg#FuturaNewLight-Reg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/**
 * заголовок статьи
 */
.HEADING, .article__heading {
  font-family: "FuturaNew";
  font-weight: 300;
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .HEADING, .article__heading {
    font-size: 35px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 1280px) {
  .HEADING, .article__heading {
    font-size: 48px;
    line-height: 1.125;
  }
}

/**
 * номер телефона в заголовке
 */
.PHONE-NUMBER, .number p {
  font-family: "FuturaNew";
  font-weight: 300;
  color: #231f20;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .PHONE-NUMBER, .number p {
    font-size: 23px;
    line-height: 1.446;
  }
}
@media screen and (min-width: 1280px) {
  .PHONE-NUMBER, .number p {
    font-size: 32px;
    line-height: 0.844;
  }
}

/**
 * текст в статье
 */
.ARTICLE-CONTENT, .article__paragraph {
  font-family: "FuturaNew";
  font-weight: 300;
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .ARTICLE-CONTENT, .article__paragraph {
    font-size: 14px;
    line-height: 1.446;
  }
}
@media screen and (min-width: 1280px) {
  .ARTICLE-CONTENT, .article__paragraph {
    font-size: 18px;
    line-height: 1.5;
  }
}

/**
 * выпадающий список
 */
.LANG, .selector-lang .list, .selector-lang__label {
  font-family: "FuturaNew";
  font-weight: normal;
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .LANG, .selector-lang .list, .selector-lang__label {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .LANG, .selector-lang .list, .selector-lang__label {
    font-size: 17px;
    line-height: 1.286;
  }
}

/**
 * пункты меню
 */
.MENU-ITEM, .menu .menu-list__menu-item .menu-item__link {
  font-family: "FuturaNew";
  font-weight: normal;
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .MENU-ITEM, .menu .menu-list__menu-item .menu-item__link {
    font-size: 18px;
    line-height: 1;
  }
}
@media screen and (min-width: 1280px) {
  .MENU-ITEM, .menu .menu-list__menu-item .menu-item__link {
    font-size: 21.66px;
    line-height: 1.143;
  }
}

/**
 * открытый пункт меню
 */
.MENU-ITEM_SELECTED, .menu ._active .menu-item__link {
  font-family: "FuturaNew";
  font-weight: 500;
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .MENU-ITEM_SELECTED, .menu ._active .menu-item__link {
    font-size: 18px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .MENU-ITEM_SELECTED, .menu ._active .menu-item__link {
    font-size: 20.5px;
    line-height: 1.144;
  }
}

/**
 * кнопки
 */
.BUTTON, .button-block .button-block__button {
  font-family: "FuturaNew";
  font-weight: 300;
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .BUTTON, .button-block .button-block__button {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .BUTTON, .button-block .button-block__button {
    font-size: 14px;
    line-height: 1.286;
  }
}

/**
 * загрузка услуг
 */
.DOWNLOAD, .download .download__link-load {
  font-family: "FuturaNew";
  font-weight: 300;
  color: #291823;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .DOWNLOAD, .download .download__link-load {
    font-size: 10.5px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .DOWNLOAD, .download .download__link-load {
    font-size: 14px;
    line-height: 1.929;
  }
}

/**
 * копирайт
 */
.COPYRIGHT, .footer__copyright {
  font-family: "FuturaNew";
  font-weight: 300;
  color: #7c7b7b;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .COPYRIGHT, .footer__copyright {
    font-size: 10px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1280px) {
  .COPYRIGHT, .footer__copyright {
    font-size: 12px;
    line-height: 2.25;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-x: auto;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .page {
    padding: 10px;
    overflow: hidden;
  }
}
.page__input {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .page .page__input {
    display: none;
  }
}

.main-wrapper {
  width: 81%;
  background-color: #f9f9f8;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .main-wrapper {
    width: 100%;
    height: 91%;
    overflow: auto;
  }
}

.right-wrapper {
  width: 18.6%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .right-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .page__input:checked ~ .right-wrapper {
    transform: translateX(0);
    z-index: 2;
  }
}

.header {
  width: 100%;
  height: 17.2222222222vh;
  background-color: #f9f9f8;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .header {
    width: 93.75vw;
    height: auto;
    position: fixed;
    z-index: 1;
    top: auto;
    background: linear-gradient(0deg, rgba(249, 249, 248, 0.5), rgba(249, 249, 248, 0.9), rgba(249, 249, 248, 0.9), #f9f9f8);
  }
}
.header .header-menu {
  min-width: 31%;
  height: 17.2222222222vh;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .header .header-menu {
    width: 100vw;
    height: 10.5%;
    position: fixed;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 28px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #fff;
  }
}
.header .header-menu .header-menu__vertical-line {
  width: 1px;
  height: 4.4444444444vh;
  background-color: rgba(76, 52, 64, 0.4);
  margin: 50px 18px 50px 22px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .header .header-menu .header-menu__vertical-line {
    width: 0.3125vw;
    height: 29px;
    margin: 1px 22px 5px 18px;
  }
}

.logo {
  width: 19.2%;
  height: 8.8888888889vh;
  padding: 56px 55px 0 55px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .logo {
    width: 60%;
    height: 59%;
    align-self: flex-start;
    padding: 17px;
    z-index: 2;
  }
}

.number {
  width: 66%;
  height: 100%;
  background-color: #f9f9f8;
  padding-top: 56px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .number {
    padding-top: 0;
    padding-left: 0;
    background-color: #fff;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .number p {
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.4;
  }
}

.selector-lang {
  width: 20%;
  height: 17.2222222222vh;
  position: relative;
  background-color: #f9f9f8;
  padding: 60px 14px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .selector-lang {
    width: 14.375vw;
    padding: 8px 0;
    background-color: #fff;
  }
}
.selector-lang__input {
  display: none;
}
.selector-lang__input:checked ~ .list {
  animation: openList 0.8s ease-out 0s forwards;
}
.selector-lang__input:checked ~ .selector-lang__label {
  background-color: #fff;
}
.selector-lang__input:checked ~ .selector-lang__arrow {
  background-color: #fff;
  transform: rotate(180deg);
  background-position: right;
}
.selector-lang__label {
  display: block;
  width: 52%;
  height: 2.3333333333vh;
  background-color: #f9f9f8;
  text-transform: uppercase;
  -webkit-user-select: none;
          user-select: none;
}
.selector-lang__label:hover {
  cursor: pointer;
  color: #8f7585;
  font-size: 17.1px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .selector-lang__label {
    width: 7.1875vw;
    font-size: 13px;
    background-color: #fff;
  }
  .selector-lang__label:hover {
    color: #291823;
    font-size: 13px;
  }
}
.selector-lang .selector-lang__arrow {
  position: absolute;
  top: 60px;
  right: 4px;
  width: 34px;
  height: 2.3333333333vh;
  background-image: url("../image/pointer.png");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #f9f9f8;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .selector-lang .selector-lang__arrow {
    top: 8px;
    left: 42%;
    width: 6.25vw;
    background-color: #fff;
  }
}
.selector-lang .list {
  width: 120%;
  height: 6.8888888889vh;
  background-color: #fff;
  text-transform: uppercase;
  opacity: 0;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .selector-lang .list {
    width: 12.5vw;
    height: 80px;
    position: absolute;
    bottom: 150%;
    right: 15%;
    background-color: rgba(0, 0, 0, 0);
  }
}
.selector-lang .list .list__item {
  -webkit-user-select: none;
          user-select: none;
}
.selector-lang .list .list__item:hover {
  cursor: pointer;
  color: #a5909d;
}
.selector-lang .list .list__item:active {
  cursor: pointer;
  color: #8e75a5;
  font-size: 16.8px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .selector-lang .list .list__item {
    width: 12.5vw;
    height: 35px;
    margin-bottom: 8px;
    background-color: #f0e3ea;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #aca2a8;
  }
  .selector-lang .list .list__item:hover {
    color: #291823;
  }
  .selector-lang .list .list__item:active {
    color: #291823;
    font-size: 15px;
  }
}

@keyframes openList {
  10% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.image {
  width: 31.4%;
  height: 66%;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .image {
    width: 93.75vw;
  }
}
.image img {
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .image img {
    width: 73.4375vw;
    margin-top: -20px;
    opacity: 0.35;
  }
}

.article {
  width: 69%;
  height: 78.3333333333vh;
  padding: 21px 21px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .article {
    width: 93.75vw;
    min-height: 95%;
    padding: 48px 14px;
  }
}
.article__heading {
  max-width: 100%;
  height: 11.1111111111vh;
  padding: 25px 0;
  letter-spacing: 1.11px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .article__heading {
    height: auto;
    padding-top: 0;
    line-height: 1;
  }
}
.article__content-wrapper {
  width: 100%;
  height: 58.8888888889vh;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .article__content-wrapper {
    display: block;
    height: 80%;
    padding-top: 0;
  }
}
.article__paragraph {
  max-width: 329px;
  color: #000000;
  letter-spacing: 0.5px;
  margin-bottom: 19px;
  padding-right: 33px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .article__paragraph {
    margin-bottom: 10px;
    padding-right: 0;
    letter-spacing: 0.4;
    line-height: 1.47;
  }
}
.article__paragraph .content-link {
  text-decoration: none;
  border-bottom: 1px solid rgba(49, 36, 42, 0.4);
  color: rgba(49, 36, 42, 0.8);
}
.article__paragraph .content-link:hover {
  color: rgba(150, 36, 42, 0.8);
  border-color: rgba(150, 36, 42, 0.4);
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .article__paragraph .content-link:hover {
    color: rgba(49, 36, 42, 0.8);
    border-color: rgba(49, 36, 42, 0.4);
  }
}

.aside-navigation {
  width: 100%;
  height: 84.7%;
  display: flex;
  flex-direction: column;
}

.menu {
  width: 100%;
  height: 65vh;
  background-color: #f2f1f1;
  padding: 62px 25px 3px 56px;
  box-sizing: border-box;
  /*
  @mixin HOVER (){
      @media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) { @content; }
  }
  */
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu {
    height: 85%;
    padding: 25px 30px 0 14px;
    background-color: #f9f9f8;
  }
}
.menu .menu-list__menu-item {
  max-height: 4.6666666667vh;
  position: relative;
  letter-spacing: -0.3px;
  margin-bottom: 31px;
  /* &:hover {
       @include DESKTOP {
           @extend ._active;
       }
   }*/
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu .menu-list__menu-item {
    margin-bottom: 33px;
    letter-spacing: 0.11px;
  }
}
.menu .menu-list__menu-item:nth-child(3) {
  margin-bottom: 31px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu .menu-list__menu-item:nth-child(3) {
    margin-bottom: 35px;
  }
}
.menu .menu-list__menu-item:nth-child(7) {
  margin-bottom: 27px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu .menu-list__menu-item:nth-child(7) {
    margin-bottom: 18px;
  }
}
.menu .menu-list__menu-item .menu-list__menu-item_letter-active, .menu .menu-list__menu-item br {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu .menu-list__menu-item .menu-list__menu-item_letter-active, .menu .menu-list__menu-item br {
    display: inline;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu .menu-list__menu-item .menu-list__menu-item_letter-disable {
    display: none;
  }
}
.menu .menu-list__menu-item .menu-item__link {
  text-decoration: none;
  display: inline-block;
}
.menu .menu-list__menu-item .menu-item__link:hover {
  color: rgba(126, 117, 121, 0.9);
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu .menu-list__menu-item .menu-item__link:hover {
    font-size: 18px;
  }
  .menu .menu-list__menu-item .menu-item__link:hover:hover {
    font-weight: normal;
    color: #291823;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu .menu-list__menu-item .menu-item__link {
    line-height: 1.104;
  }
}
.menu ._active {
  position: relative;
}
.menu ._active .menu-item__link {
  letter-spacing: 0.2px;
  color: rgba(126, 117, 121, 0.9);
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu ._active .menu-item__link {
    letter-spacing: 0.15;
  }
}
.menu ._active::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  width: 80%;
  height: 1vh;
  background-color: rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu ._active::after {
    bottom: 0;
    width: 81.25vw;
    height: 8px;
  }
}

.menu-list__separate-line {
  width: 63px;
  height: 0.0666666667vh;
  background-color: rgba(126, 117, 121, 0.2);
  margin: 45px 0 31px 0;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu-list__separate-line {
    margin: 43px 0 26px 0;
    width: 15.625vw;
  }
}

.button-block {
  width: 100%;
  height: 17.3333333333vh;
  background-color: #f2f1f1;
  display: flex;
  justify-content: center;
  padding-left: 7px;
  padding-top: 4px;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .button-block {
    height: 15%;
    padding-top: 13px;
    padding-left: 0;
    background-color: #f9f9f8;
  }
}
.button-block .button-block__button {
  width: 25%;
  min-height: 3.8888888889vh;
  border: 1px solid;
  border-color: #b3aaaf;
  background-color: #f2f1f1;
  align-self: center;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .button-block .button-block__button {
    width: 35.9375vw;
    height: 67%;
  }
}
.button-block .button-block__button:hover {
  background-color: #6d5b66;
  color: white;
  cursor: pointer;
}
.button-block .button-block__button:active {
  background-color: #7d5b66;
  margin-top: 2px;
}
.button-block .button-block__button_selected {
  width: 40.5%;
  background-color: #b3aaaf;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .button-block .button-block__button_selected {
    width: 48.4375vw;
  }
}
.button-block .button-block__button_selected:hover {
  background-color: #6d5b66;
}
.button-block .button-block__button_selected:active {
  background-color: #7d5b66;
  margin-top: 2px;
}

.footer {
  width: 100%;
  height: 14.4444444444vh;
  padding: 20px 0 20px 28px;
  box-sizing: border-box;
  background-color: #f8f7f7;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .footer {
    width: 93.75vw;
    height: 15.3%;
    display: flex;
    justify-content: center;
    padding: 19px 0 0 6px;
    background-color: #f9f9f8;
  }
}

.download {
  width: 85%;
  height: 5vh;
  display: flex;
  margin-bottom: 6px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .download {
    width: 46.875vw;
    height: 85%;
    padding-left: 10px;
  }
}
.download .download__icon {
  width: 60%;
  min-height: 5vh;
  background: url("../image/icon-pdf.png");
  background-repeat: no-repeat;
  background-position: right;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .download .download__icon {
    width: 9.375vw;
    background-size: contain;
    margin-right: 11px;
    margin-top: -6px;
  }
}
.download .download__link-load {
  min-width: 70%;
  height: 5vh;
  padding: 10px 14px;
  box-sizing: border-box;
}
.download .download__link-load br {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .download .download__link-load br {
    display: block;
  }
}
.download .download__link-load a {
  color: #231f20;
  text-decoration: none;
  border-bottom: 1px dotted #231f20;
}
.download .download__link-load a:hover {
  color: #723f59;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .download .download__link-load a {
    border-bottom: none;
  }
  .download .download__link-load a:hover {
    color: #231f20;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .download .download__link-load {
    width: 21.875vw;
    height: 70%;
    letter-spacing: 0.8;
    margin-left: 5px;
    padding: 12px 0 1px 0;
    box-sizing: border-box;
    border-bottom: 1px dotted #231f20;
  }
}

.footer__copyright {
  min-width: 68%;
  height: 40%;
  padding: 6px 0 0 27px;
  box-sizing: border-box;
  color: #7c7b7b;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .footer__copyright {
    min-width: 46.875vw;
    height: 85%;
    padding: 11px 0 0 15px;
    box-sizing: border-box;
  }
}
.footer__copyright br {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .footer__copyright br {
    display: block;
  }
}

.section {
  display: flex;
  width: 100%;
  height: 78.3333333333vh;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .section {
    height: 78%;
    flex-direction: column;
  }
}

.menu-burger {
  width: 28px;
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .menu-burger {
    display: block;
    position: absolute;
    z-index: 3;
    right: 27px;
    top: 24px;
  }
  .menu-burger .menu-burger__item {
    display: block;
    background-color: #616161;
    width: 28px;
    height: 2px;
    margin: 0 0 6px 0;
    transform-origin: 100% 50%;
    transition: transform 0.5s ease-in-out;
  }
  .page__input:checked ~ .menu-burger .menu-burger__item:first-child {
    transform: rotate(-45deg);
    margin-bottom: 10px;
  }
  .page__input:checked ~ .menu-burger .menu-burger__item:nth-child(2) {
    transform: scaleX(0);
  }
  .menu-burger .menu-burger__item:last-child {
    margin-bottom: 0;
  }
  .page__input:checked ~ .menu-burger .menu-burger__item:last-child {
    transform: rotate(45deg);
  }
}