.logo {
    width: 19.2%;
    height: vhD(80);
    padding: 56px 55px 0 55px;
    @include MOBILE {
        width: 60%;
        height: 59%;
        align-self: flex-start;
        padding: 17px;
        z-index: 2;
    }
    @include TABLET {
        width: 180px;
        height: vhTL(50);
        align-self: flex-end;
        padding: 0;
        z-index: 2;
    }
    @include TABLET-L {
        width: 182px;
        height: vhTL(61);
        padding: 0 55px 0 34px;
        z-index: 2;
    }
}