.logo {
    width: 19.2%;
    height: 51%;
    align-self: center;
    padding: 39px 55px 0 55px;
    @include MOBILE {
        width: 60%;
        height: 59%;
        align-self: flex-start;
        padding: 17px;
        z-index: 2;
    }
}