.logo {
    width: vhD(242);
    height: vhD(80);
    @include MOBILE {
        width: vhM(183);
        height: vhM(60);

        align-self: flex-start;
        z-index: 2;
    }
    @include TABLET {
        width: vwT(180);
        height: vwT(56);
        z-index: 2;
    }
    @include TABLET-L {
        width: vhTL(182);
        height: vhTL(50);
        z-index: 2;
    }
}