mixin selector-lang(langItem)
    .header-menu__selector-lang.selector-lang
        select.selector-lang__list
            each item in langItem
                option(value=item.lang)=item.lang
    block