.selector-lang {
    width: 25%;
    height: 100%;
    background-color: $MAIN-COLOR;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    .selector-lang__list {
        @extend .LANG;
        color: rgba(76, 52, 64,.7);
        width: 60px;
        height: 40px;
        align-self: center;
        border: none;
        background-color: $MAIN-COLOR;
        appearance: none;
        background-image: url("../image/pointer.png");
        background-repeat: no-repeat;
        background-position: right;
        padding: 0 5px;
        outline: none;
    }
}
