mixin selector-lang(params)
    .selector-lang
        select.selector-lang__list
            option(selected value="RU") ru
            option(value="EN") en
            option(value="DE") de
    block