.selector-lang {
    width: vhD(80);
    height: vhD(35);
    position: relative;
    padding: vhD(4) 0 0 vhD(6);
    box-sizing: border-box;
    background-color: $MAIN-COLOR;
    @include MOBILE {
        width: vhM(46);
        padding: vhM(8) 0;
        background-color: #fff;
    }
    @include TABLET {
        width: vwT(55);
        height: vwT(30);
        padding: vwT(6) 0 0 0;
    }
    @include TABLET-L {
        width: vhTL(55);
        height: vhTL(24);
        padding: 0;
    }
    

    &__input {
        display: none;
        &:checked ~ .list {      
            opacity: 1;
        }
        &:checked ~ .selector-lang__label {
            background-color: #fff;
            &::before {
                transform: rotate(-50deg);
            }
            &::after {
                transform: rotate(50deg);
            }
        }  
    }


    &__label {
        width: 90%;
        height: vhD(21);
        display: block;
        position: relative;
        padding: 0 0 0 vhD(10);
        box-sizing: border-box;
        @extend .LANG;
        background-color: $MAIN-COLOR;
        text-transform: uppercase;
        user-select: none;
        @include HOVER() {
            &:hover {
                cursor: pointer;
                color: #8f7585;
            }    
        }
        @include MOBILE {
            width: vhM(33);
            font-size: 13px;
            background-color: #fff;
        }
        @include TABLET {
            width: vwT(45);
            height: vwT(15);
        }
        @include TABLET-L {
            width: 83%;
            height: vhTL(24);
            padding: vhTL(6) 0 0 vhTL(5);
            box-sizing: border-box;
            &:hover {
                cursor: pointer;
                color: $TEXT-COLOR;
            } 
        }
        &::before {
            content: '';    
            position: absolute; 
            top: vhD(10); 
            left: vhD(33);
            width: vhD(8);
            height: vhD(1.4);
            background: #7c7b7b;
            transform: rotate(50deg);
            transition: transform .1s ease-in-out;
            @include MOBILE {
                width: 6px;
                top: 7px;
                left: 30px;
            }
            @include TABLET {
                width: vwT(6);
                height: vwT(1.3);
                top: vwT(6);
                left: vwT(30);
            }
            @include TABLET-L {
                width: vhTL(6);
                top: vhTL(11);
                left: vhTL(23);
            }
        }
        &::after {
            content: '';    
            position: absolute; 
            top: vhD(10); 
            left: vhD(37.8);
            width: vhD(8);
            height: vhD(1.4);
            background: #7c7b7b;
            transform: rotate(-50deg);
            transition: transform .1s ease-in-out;
            @include MOBILE {
                width: 6px;
                top: 7px;
                left: 34px;
            }
            @include TABLET {
                width: vwT(6);
                height: vwT(1.3);
                top: vwT(6);
                left: vwT(33);
            }
            @include TABLET-L {
                width: vhTL(6);
                top: vhTL(11);
                left: vhTL(27);
            }
        }
    }
    
}


.list {
    @extend .LANG;
    width: 90%;
    height: vhD(68);
    padding: vhD(3) 0 0 vhD(10);
    box-sizing: border-box;
    background-color: #fff;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    @include MOBILE {
        width: vhM(40);
        height: vhM(80);
        position: absolute;
        bottom: 90%;
        right: 15%;
        padding-left: vhM(10);
        background-color: rgba(0,0,0,.0);
    }
    @include TABLET {
        width: vwT(45);
        height: 55px;
    }
    @include TABLET-L {
        width: 83%;
        height: vhTL(45);
        padding: 0 0 0 vhTL(5);
    }

    
    &__item {
        user-select: none;
        @include HOVER() {
            &:hover {
                cursor: pointer;
                color: #a5909d;
            }   
        }           
        @include MOBILE {
            width: vhM(40);
            height: vhM(22);
            background-color: #fff;
            box-sizing: border-box;
        }
        @include TABLET {
            margin-bottom: 5px;
        }
        @include TABLET-L {
            margin-bottom: vhTL(2);
        }
        
    }
}


