.selector-lang {
    width: 15%;
    height: 100%;
    background-color: $MAIN-COLOR;
    padding: 50px 14px;
    box-sizing: border-box;
    @media (max-width:321px) {
        width: 15%;
        background-color: #fff;
        padding: 0;
    }

    .selector-lang__list {
        @extend .LANG;
        width: 120%;
        height: 40px;
        margin-right: auto;
        border: none;
        background-color: $MAIN-COLOR;
        appearance: none;
        background-image: url("../image/pointer.png");
        background-repeat: no-repeat;
        background-position: right;
        outline: none;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            color: #8f7585;
            font-size: 17.8px;
        }
        &:active {
            cursor: pointer;
            color: #8e75a5;
            font-size: 16.8px;
        }
        @media (max-width:321px) {
            width: 70%;
            font-size: 12px;
            background-color: #fff;
        }
    }
}

