.menu-label {
    display: none;
    position: absolute;
    z-index: $menu-burger_z;
    @include MOBILE {
        width: vhM(30);
        right: vhM(26);
        top: vhM(24);
        display: block;
    }
    @include TABLET {
        width: vwT(69);
        top: vwT(64);
        right: vwT(55);
        display: flex;
        z-index: $menu-burger_z-T;
    }
    @include TABLET-L {
        width: vhTL(65);
        top: vhTL(60);
        right: vhTL(54);
        display: flex;
        z-index: $menu-burger_z-T;
    }
    @include menuChecked {
        display: flex;
        @include DESKTOP {
            display: none;
        }
    }


    .menu-burger__item {
        display: block;
        background-color: #616161;
        transform-origin: 100% 50%;
        transition: transform .5s ease-in-out;
        @include MOBILE {
            width: vhM(28);
            height: vhM(2);
            margin: 0 0 vhM(6) 0;    
        }
        @include TABLET {
            width: vwT(14);
            height: vwT(1);
            margin: 0 0 vwT(3) 0;
        }
        @include TABLET-L {
            width: vhTL(14);
            height: vhTL(1);
            margin: 0 0 vhTL(3) 0;
        }
        &:first-child {
            @include menuChecked {
                transform: rotate(-45deg); 
                @include MOBILE {
                    margin-bottom: vhM(10);
                }                           
            } 
        }
        &:nth-child(2) {
            @include menuChecked {
                transform: scaleX(0);      
            }
        }
        &:last-child {
            @include menuChecked {
                transform: rotate(45deg);
                @include TABLET-L {
                    margin-top: vhTL(5);
                }
            }
            margin-bottom: 0; 
        }      
    }
    

    .menu-label__word {
        font-family: 'FuturaNew';
        text-transform: uppercase;
        @include MOBILE {
            display: none;
        }
        @include TABLET {
            font-size: vwT(12);
        }
        @include TABLET-L {
            font-size: vhTL(12.5);
        }
    }
}
    

.menu-burger {
    width: vhM(28); 
    align-self: center;   
}   