.menu-label {
    width: 70px;
    display: none;
    position: absolute;
    z-index: $menu-burger_z;
    right: 27px;
    top: 24px;
    @include menuChecked {
        display: none;
    }
    .menu-burger__item {
        display: block;
        background-color: #616161;
        width: 28px;
        height: 2px;
        margin: 0 0 6px 0;
        transform-origin: 100% 50%;
        transition: transform .5s ease-in-out;
        &:first-child {
            @include menuChecked {
                transform: rotate(-45deg); 
                @include MOBILE {
                    margin-bottom: 10px;
                }                           
            } 
        }
        &:nth-child(2) {
            @include menuChecked {
                transform: scaleX(0);      
            }
            @include TABLET {
                opacity: 0;
            } 
        }
        &:last-child {
            @include menuChecked {
                transform: rotate(45deg);
                @include TABLET-L {
                    margin-top: 5px;
                }
            }
            margin-bottom: 0; 
        }
        @include TABLET {
            width: 15px;
            height: 1px;
            margin: 0 0 3px 0;
        }
        @include TABLET-L {
            width: 14px;
            height: 1px;
            margin: 0 0 3px 0;
        }
    }
    @include MOBILE {
        width: 30px;
        display: block;
    }
    @include TABLET {
        width: 60px;
        top: 80px;
        right: 40px;
        display: flex;
    }
    @include TABLET-L {
        width: 65px;
        top: 60px;
        right: 54px;
        display: flex;
    }
    .menu-burger__word {
        font-family: 'FuturaNew';
        text-transform: uppercase;
        @include MOBILE {
            display: none;
        }
        @include TABLET {
            font-size: vwT(17);
        }
        @include TABLET-L {
            font-size: vhTL(12.5);
        }
    }
}
    
.menu-burger {
    width: 50%; 
    align-self: center;   
}   