mixin burger-menu(params)
    .page__menu-burger.menu-burger
        input.page__input(type="checkbox", id="menu")
        label.page__menu-burger.menu-burger(for="menu") 
            span.menu-burger__item
            span.menu-burger__item
            span.menu-burger__item
        block   

