.button-block {
    width: 100%;
    height: vhD(156);
    background-color: $ASIDE-COLOR;
    display: flex;
    justify-content: center;
    padding-left: vhD(7);
    padding-top: vhD(4);
    box-sizing: border-box;
    @include MOBILE {
        height: 15%;
        padding-top: vhM(13);
        padding-left: 0;
        background-color: $MAIN-COLOR;
    } 
    @include TABLET {
        padding-left: vwT(9);
    }
    @include TABLET-L {
        height: vhTL(100);
        padding-left: vhTL(14);
    }


    &__button {
        @extend .BUTTON;
        width: vhD(72.5);
        min-height: vhD(35);
        border: vhD(1) solid;
        border-color: rgb(179, 170, 175);
        background-color: $ASIDE-COLOR;
        align-self: center;
        @include MOBILE {
            width: vhM(115);
            height: 38px;
        } 
        @include TABLET {
            width: vwT(77);
            height: vwT(40);
        }
        @include TABLET-L {
            height: vhTL(30);
            width: vhTL(57);
        }
        &:hover {
            background-color: #6d5b66;
            color: white;
            cursor: pointer;
        }
        &:active {
            background-color: #7d5b66;
            margin-top: vhD(2);
        }   
    }

    
    &__button_selected {
        width: vhD(115);
        color: white;
        background-color: #b3aaaf;
        @include MOBILE {
            width: vhM(155);
        } 
        @include TABLET {
            width: vwT(128);
            height: vwT(40);
        }
        @include TABLET-L {
            width: vhTL(93);
            height: vhTL(30);
        }
    }

}

