mixin button-block(params)
    .aside-navigation__button-block.button-block
        button.button-block__button.button-block__button_selected Raiffeisen-Online
        button.button-block__button R-Dealer
        block