.button-block {
    width: 100%;
    height: vhD(156);
    background-color: $ASIDE-COLOR;
    display: flex;
    justify-content: center;
    padding-left: 7px;
    padding-top: 4px;
    box-sizing: border-box;
    @include MOBILE {
        height: 15%;
        padding-top: 13px;
        padding-left: 0;
        background-color: $MAIN-COLOR;
    } 
    .button-block__button {
        @extend .BUTTON;
        width: 25%;
        min-height: vhD(35);
        border: 1px solid;
        border-color: rgb(179, 170, 175);
        background-color: $ASIDE-COLOR;
        align-self: center;
        @include MOBILE {
            width: vwM(115);
            height: 67%;
        } 
        &:hover {
            background-color: #6d5b66;
            color: white;
            cursor: pointer;
        }
        &:active {
            background-color: #7d5b66;
            margin-top: 2px;
        }
    }
    .button-block__button_selected {
        width: 40.5%;
        background-color: #b3aaaf;
        @include MOBILE {
            width: vwM(155);
        } 
        &:hover {
            background-color: #6d5b66;
        }
        &:active {
            background-color: #7d5b66;
            margin-top: 2px;
        }
        color: white;
    }
}

