.right-wrapper {
    
    width: 18.6%;
    display: flex;
    flex-direction: column;
    @include MOBILE {
        position: absolute;
        top: 0;
        left: 0;
        width: vwM(320);
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        @include menuChecked {
            transform: translateX(0);
            z-index: $right-wrapper_z;
        }
    }
    @include TABLET {
        width: vwT(320);
        min-height: 96%;
        height: 96%;
        box-sizing: border-box;
        position: absolute;
        right: 20px;
        box-shadow: -20px 0 15px -8px rgba(0, 0, 0,.15);
        z-index: $right-wrapper_z;
        transition: transform .7s ease-in-out;
        transform: translate(150%);
        @include menuChecked {
            transform: translateX(0);
        }
    }
    @include TABLET-L {
        width: 220px;
        min-height: 94.79%;
        height: 94.79%;
        box-sizing: border-box;
        position: absolute;
        right: 20px;
        box-shadow: -20px 0 15px -8px rgba(0, 0, 0,.15);
        z-index: $right-wrapper_z;
        transition: transform .7s ease-in-out;
        transform: translate(150%);
        @include menuChecked {
            transform: translateX(0%);
        }
    }
    
}

.label-exit {
    display: none;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 18px;
    height: 18px;
    &::after {
        content: '';
        width: 16px;
        height: 1px;
        top: 7px;
        position: absolute;
        transform: rotate(45deg);
        background-color: #616161;
    }
    &::before {
        content: '';
        width: 16px;
        height: 1px;
        top: 7px;
        position: absolute;
        transform: rotate(-45deg);
        background-color: #616161;
    }
    @include TABLET {
        display: block;
    }
    @include TABLET-L {
        display: block;
    }
   
}