
mixin header()
    header.header
        +logo()
        input(type="checkbox", id="menu")
        label.header__menu-burger(for="menu")  dawd
        .header__menu
          +number()
          .header__vertical-line
          +selector-lang(language)
        block