.header {
    width: 100%;
    height: 18%;
    background-color: $MAIN-COLOR;
    display: flex;
    justify-content: space-between;
    @media (max-width:321px) {
        width: 100%;
        height: 10%;
    }
    .header__menu-burger {
        background-image: url("../image/menu_burger.png");
        background-repeat: no-repeat;
        width: 28px;
        height: 27px;
        display: none;
        &:hover {
            width: 29px; 
            cursor: pointer;  
        }
        @media (max-width:321px) {
            display: block;
            position: absolute;
            right: 9px;
            top: 25px
        }
    }
    .header__menu {
        min-width: 31%;
        height: 100%;
        display: flex;
        @media (max-width:321px) {
            width: 98.6%;
            height: 9%;
            position: fixed;
            padding-top: 6px;
            bottom: 0;
            left: 10px;
            right: 10px;
            box-sizing: border-box;
            background-color: #fff;

        }
        .header__vertical-line {
            width: 0.5px;
            height: 40px;
            background-color: rgba(76,52,64,.4);
            margin: 50px 20px;
            @media (max-width:321px) {
                width: 1px;
                height: 28px;
                margin: 5px 22px 5px 7px;
            }
        }
    }
}
