.header {
    width: 100%;
    height: 18%;
    background-color: $MAIN-COLOR;
    display: flex;
    justify-content: space-between;
    .header__menu {
        width: 31%;
        height: 100%;
        display: flex;
        .header__vertical-line {
            width: 0.5px;
            height: 40px;
            background-color: rgba(76,52,64,.4);
            margin: 50px 20px;
        }
    }
}
