
mixin header()
    header.header
        +logo()
        .header__menu-burger 
        .header__menu
          +number()
          .header__vertical-line
          +selector-lang(language)
        block