
mixin header()
    header.main-wrapper_header.header
        +logo()
        .header__header-menu.header-menu
          +number()
          .header-menu__vertical-line
          +selector-lang(language)
        block