.number{
    width: 66%;
    height: 100%;
    background-color: $MAIN-COLOR;
    padding-top: 56px;
    box-sizing: border-box;
    @include MOBILE {
        padding-top: 0;
        padding-left: 0;
        background-color: #fff;
    }
    @include TABLET {
        width: vwT(190);
        height: 30px;
    }
    @include TABLET-L {
        width: 200px;
        height: vhTL(24);
        padding-top: 0;
        z-index: 2;
    }

    p {
        @extend .PHONE-NUMBER;
        @include MOBILE {
            padding-top: 0;
            padding-left: 0;
            letter-spacing: 0.4;
        }
       
        @include TABLET-L {
            padding-top: 2px;
            z-index: 2;
        }
     
    }
    
}
