.number{
    width: 66%;
    height: vhD(35);
    box-sizing: border-box;
    background-color: $MAIN-COLOR;
    @include MOBILE {
        width: 90%;
        padding-top: 0;
        padding-left: 0;
        background-color: #fff;
    }
    @include TABLET {
        width: vwT(190);
        height: vwT(30);
    }
    @include TABLET-L {
        width: vhTL(200);
        height: vhTL(24);
        padding-top: 0;
        z-index: 2;
    }


    p {
        @extend .PHONE-NUMBER;
        @include MOBILE {
            padding-top: 0;
            padding-left: 0;
            letter-spacing: 0.4;
        }
        @include TABLET-L {
            padding-top: vhTL(2);
            z-index: 2;
        }
     
    }
    
}
