.section {
    //clearfix
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    clear: both;
    *zoom: 1;  
    @media (max-width:321px) {
        width: 100%;
        display: flex;
        background-color: gray;
        flex-direction: column;
    }  
  }  
  