.footer {
    width: 100%;
    height: vhD(130);
    padding: 20px 0 20px 28px;
    box-sizing: border-box;
    background-color: #f8f7f7;
    @include MOBILE {
        width: vwM(300);
        height: 15.3%;
        display: flex;
        justify-content: center;
        padding: 19px 0 0 6px;
        background-color: $MAIN-COLOR;
    } 
}