.footer {
    width: 100%;
    height: vhD(130);
    padding: vhD(20) 0 vhD(20) vhD(47);
    box-sizing: border-box;
    background-color: #f8f7f7;
    @include MOBILE {
        width: 100%;
        height: 15.3%;
        display: flex;
        justify-content: center;
        padding: 19px 0 0 6px;
        background-color: $MAIN-COLOR;
    } 
    @include TABLET {
        padding: vwT(30) vwT(10) 0 vwT(55);
    }
    @include TABLET-L {
        height: vhTL(108);
        padding: vhTL(19) vhTL(10) 0 vhTL(33);
    }
}