.footer {
    width: 100%;
    height: 15.3%;
    padding: 20px 0 20px 28px;
    box-sizing: border-box;
    background-color: #f8f7f7;
    @include MOBILE {
        height: 11%;
        display: flex;
        justify-content: center;
        padding: 1px 0 0 6px;
    } 
}