.page {
    position: relative;
    width: 100vw;
    max-height: 900px;
    overflow-x: auto;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    @include MOBILE {
        padding: 10px;
        max-height: 100%;
    }
    &__input {
        display: none;
    }
    @include MOBILE {
        .page__input {
            display: none;
            &:checked ~ .main-wrapper{
                display: none;               
            }
            &:checked ~ .right-wrapper{
                opacity: 0;
                display: block;
                overflow-y: hidden;
                animation: openMenu 0.65s linear 0s;
                opacity: 1;
            }
            &:checked + .page__menu-burger{
                background-image: url("../image/close.png");
                right: 23px;
                top: 23px;
            }
        }
    }
    
    @keyframes openMenu {
     
        10% {
            opacity: 0.1;
            transform: scale(0.1,0.1) ;
        }        
        40% {
            opacity: 0.3;
            transform: scale(0.4,0.4) ;
        }      
        70% {
            opacity: 0.3;
            transform: scale(0.7,0.7);
        }
        80% {
            opacity: 0.5;
            transform: scale(0.8,0.8) ;
        }
        100% {
            opacity: 1;
            transform: scale(1,1);
        }
  
    }

    &__menu-burger {
        background-image: url("../image/menu_burger.png");
        background-repeat: no-repeat;
        width: 28px;
        height: 27px;
        display: none;
        &:hover {
            width: 29px; 
        }
        @include MOBILE {
            display: block;
            position: absolute;
            right: 25px;
            top: 25px;
        }
    }
}
    