.page {
    width: 100vw;
    max-height: 900px;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    @include MOBILE {
        padding: 10px;
        //min-height: 185%;
     //   width: 320px;
    }
    .page__input {
        display: none;
    }
    @include MOBILE {
        .page__input {
            display: none;
            &:checked ~ .main-wrapper{
                display: none;
            }
            &:checked ~ .right-wrapper{
                display: block;
                overflow-y: hidden;
            }
            &:checked + .page__menu-burger{
                background-image: url("../image/close.png");
                right: 23px;
                top: 23px;
            }
        }
    }
    .page__menu-burger {
        background-image: url("../image/menu_burger.png");
        background-repeat: no-repeat;
        width: 28px;
        height: 27px;
        display: none;
        &:hover {
            width: 29px; 
        }
        @include MOBILE {
            display: block;
            position: absolute;
            right: 25px;
            top: 25px;
        }
    }
}
    