.page {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    @include MOBILE {
        padding: 10px;
        overflow: hidden;
    }
    &__input {
        display: none;
    }
    @include MOBILE {
        .page__input {
            display: none;
        }
    }

    &__menu-burger {
        width: 28px;
        display: none;
        .item,
        .item::before,
        .item::after {
            display: block;
            position: absolute;
            background-color: #616161;
            width: 100%;
            height: 2px;
        }
        .item::before {
            content: '';
            top: -8px;
            @include menuChecked {
                top: 0;
                transform: rotate(0deg);
            } 
        }
        .item {
           @include menuChecked {
                transform: rotate(45deg);
                transition: transform .5s ease-in-out;
            }    
        }
        .item::after {
            content: '';
            top: 8px;
            @include menuChecked {
                top: 0;
                transform: rotate(90deg);
                transition: transform .5s ease-in-out;
            } 
        }
        @include MOBILE {
            display: block;
            position: absolute;
            z-index: 3;
            right: 25px;
            top: 33px;
        }
    }
}
    