.footer__copyright {
    min-width: vhD(197);
    height: vhD(40);
    padding: vhD(7) 0 0 vhD(7);
    box-sizing: border-box;
    @extend .COPYRIGHT;
    @include MOBILE{  
        min-width: vwM(150);
        height: 85%; 
        padding: 12px 0 0 19px;
        box-sizing: border-box;   
    }  
    @include TABLET-L {  
        padding-left: vhTL(12);       
    } 

    
    br {
        display: none;
        @include MOBILE{
            display: block;
        } 
    }
    
}