.footer__copyright {
    min-width: 68%;
    height: 40%;
    padding: 6px 0 0 27px;
    box-sizing: border-box;
    @extend .COPYRIGHT;
    color: $SUBTEXT-COLOR;
    @include MOBILE{  
        min-width: 50%;
        height: 85%; 
        padding: 11px 0 0 15px;
        box-sizing: border-box;
        font-size: 10px; 
        line-height: 1.45;     
    } 
    
    br {
        display: none;
        @include MOBILE{
            display: block;
        } 
    }
}