.download {
    width: vhD(210);
    height: vhD(45);
    display: flex;
    justify-content: flex-start;
    margin-bottom: vhD(2);
    padding: vhD(4) 0 0 0;
    @include MOBILE {
        width: vhM(130);
        height: 85%;
        padding-top: vhM(10);
        padding-left: 0;
        box-sizing: border-box;
    } 
    @include TABLET-L {
        width: 90%;
        justify-content: center;
        margin-bottom: 0;
    }


    &__icon {   
        width: vhD(48);
        height: vhD(35);
        @include MOBILE {
            width: vhM(30);
            margin-top: 4px;
            box-sizing: border-box;
            background-size: contain;
        } 
        @include TABLET {
            width: vwT(50);
            height: vwT(31);
        }
        @include TABLET-L {
            width: vhTL(40);
            transform: scale(0.75);
            background-position: right;
        }
    }


    &__link-load{
        width: vhD(200);
        height: vhD(45);
        padding: vhD(6) vhD(14);
        box-sizing: border-box;
        @include MOBILE {
            width: vhM(71);
            height: 70%;
            letter-spacing: 0.8;
            margin-left: vhM(10);
            padding: vhM(2) 0 vhM(1) vhM(1);
            box-sizing: border-box;
            border-bottom: 1px dotted $PHONE-COLOR;
        }  
        @include TABLET {
            padding-top: vwT(2);
            padding-left: vwT(17);
        }  
        @include TABLET-L {
            width: vhTL(170);
            margin-left: 0;
            padding-left: vhTL(5);
        }     
        
        br {
            display: none;
            @include MOBILE {
                display: block;   
            } 
        }

        a {
            @extend .DOWNLOAD;
            text-decoration: none;
            border-bottom: 1px dotted $PHONE-COLOR;
            @include HOVER() {
                &:hover {
                    color: #723f59;
                    cursor: pointer;
                }    
            }
            @include MOBILE {
                border-bottom: none;  
            }                
        }        
    }
    
}
