mixin download(params)
    .footer__download.download
        img.download__icon(src="image/icon-pdf.png")
        p.download__link-load 
            a(href="#") Скачать #[br] &laquo;Услуги FWR&raquo;
    block