.download {

    width: 85%;
    height: vhD(45);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6px;
    @include MOBILE {
        width: vwM(150);
        height: 85%;
        padding-top: 10px;
        padding-left: 10px;
        box-sizing: border-box;
    } 

    &__icon {   
        width: 30%;
        height: vhD(45);
        background: url("../image/icon-pdf.png");
        background-repeat: no-repeat;
        background-position: right;
        @include MOBILE {
            width: vwM(30);
            box-sizing: border-box;
            background-size: contain;
        } 
    }

    &__link-load{
        width: 100%;
        height: vhD(45);
        padding: 10px 14px;
        box-sizing: border-box;
        br {
            display: none;
            @include MOBILE {
                display: block;   
            } 
        }
        a {
            @extend .DOWNLOAD;
            text-decoration: none;
            border-bottom: 1px dotted $PHONE-COLOR;
            @include HOVER() {
                &:hover {
                    color: #723f59;
                    cursor: pointer;
                }    
            }
            @include MOBILE {
                border-bottom: none;  
            }                
        }
        @include MOBILE {
            width: vwM(71);
            height: 70%;
            letter-spacing: 0.8;
            margin-left: 14px;
            padding: 2px 0 1px 1px;
            box-sizing: border-box;
            border-bottom: 1px dotted $PHONE-COLOR;
        }           
    }
    
}
