.download {
    width: 85%;
    height: 50%;
    display: flex;
    margin-bottom: 6px;
    @include MOBILE {
        width: 50%;
        height: 85%;
        margin-left: 10px;
    } 
    .download__icon {   
        width: 60%;
        min-height: 100%;
        background: url("../image/icon-pdf.png");
        background-repeat: no-repeat;
        background-position: right;
        @include MOBILE {
            width: 20%;
            background-size: contain;
            margin-right: 11px;
        } 
    }
    .download__link-load{
        min-width: 70%;
        height: 100%;
        padding: 10px 14px;
        box-sizing: border-box;
        @extend .DOWNLOAD;
        br {
            display: none;
            @include MOBILE {
                display: block;   
            } 
        }
        a {
            color: $PHONE-COLOR;
            text-decoration: none;
            border-bottom: 1px dotted $PHONE-COLOR;
            &:hover {
                color: #723f59;
                cursor: pointer;
            }
            @include MOBILE {
                border-bottom: none;  
                &:hover {
                    color: $PHONE-COLOR;
                }
            }                
        }
        @include MOBILE {
            min-width: 15px;
            height: 76%;
            font-size: 11px;
            line-height: 1.1;
            letter-spacing: 0.8;
            margin-left: 5px;
            padding: 12px 0 1px 0;
            box-sizing: border-box;
            border-bottom: 1px dotted $PHONE-COLOR;
        }
            
        
    }
}
