include ../build/build.pug

html
  head
    title Страница
  body
    +page()
      +header()
      +section()
        +image()
        +article()
      +aside-navigation()
        +menu()
        +button-block()
      +footer()
        +download()
        +copyright()