include ../build/build.pug

html
  head
    link(rel="stylesheet" href="css/styles.css")
    title Страница
  body
    +page()
      +header()
      +section()
        +image()
        +article(pageContent)
      +aside-navigation()
        +menu(menuData)
        +button-block()
      +footer()
        +download()
        +copyright()