.image {
    width: 31%;
    height: 64%;
    margin-top: -5px;
    float: left;
    img {
        width: 100%;
    }
    @include MOBILE {
        width: 78%;
        margin-top: -121px;
        margin-left: 1px;
        opacity: 0.5;
        float: none;
    }
}