.image {
    width: vhD(391.7);
    height: vhD(543);
    @include MOBILE {
        width: vhM(235);
        height: vhM(304);
    }
    @include TABLET {
        width: vwT(300);
        height: vwT(380);
    }
    @include TABLET-L {
        width: vhTL(340);
        height: vhTL(400);
        margin-top: -3.5%;
    }

    
    img {
        width: vhD(391.7);
        height: vhD(543);
        @include MOBILE {
            width: vhM(235);
            margin-top: vhM(-30);
            opacity: 0.35;
        }
        @include TABLET {
            width: vwT(300);
            height: vwT(380);
        }
        @include TABLET-L {
            width: vhTL(335);
            height: vhTL(400);
        }
    }
    
}