.image {
    width: 31.4%;
    height: 66%;
    @include MOBILE {
        width: 100%;
    }
    img {
        width: 100%;
        @include MOBILE {
            width: 78.5%;
            margin-top: -110px;
            opacity: 0.5;
        }
    }
}