extends main-layout.pug

append vars
    -
        //- var pageH = "!Нет заголовка";
        //- var pageCont = pageContent;
        //- var numberPage = "first";
        //- var menuD = menuData;

block content
    +section(pagesContent[currentPage])
