extends main-layout.pug

append vars
    -
        //- var pageH = "!Нет заголовка";
        //- var pageCont = pageContent;
        //- var numberPage = "first";
        //- var menuD = menuData;

block content
    +section()
        +image(pagesContent[currentPage])
        +article(pagesContent[currentPage])