
<html>
  <head>
    <link rel="stylesheet" href="css/styles.css"/>
    <title>Страница</title>
  </head>
  <body>
    <div class="page">
      <div class="main-wrapper">
        <header class="header"><img class="logo" src="image/logo.png" alt="logo"/>
          <div class="header__menu">
            <div class="number"> 
              <p>+7 (495) 662 76 77</p>
            </div>
            <div class="header__vertical-line"></div>
            <div class="selector-lang">
              <select class="selector-lang__list">
                <option selected="selected" value="RU">ru</option>
                <option value="EN">en</option>
                <option value="EN">de</option>
              </select>
            </div>
          </div>
        </header>
      </div>
      <div class="right-wrapper">  
        <aside class="aside-navigation">
          <nav class="menu">
            <ul class="menu__items">
            </ul>
          </nav>
          <div class="button-block">
            <button class="button-block__button button-block__button_selected">Raiffeisen-Online</button>
            <button class="button-block__button">R-Dealer</button>
          </div>
        </aside>
        <footer class="footer">
          <div class="download">
            <div class="download__icon"></div>
            <div class="download__link-load">
              <p> <a href="ya.ru">Скачать &laquo;Услуги FWR&raquo;</a></p>
            </div>
          </div>
          <div class="copyright">
            <p>© 2009-2017 АО «Райффайзенбанк»</p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>